<template name="configuracoes">
    <!-- START CONTACTS SECTION -->
  <section id="contacts">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 intro">
      <h1>Configurações do aplicativo</h1>
    </br>
      <p>Controle de usuários e alteração de senha</p>
    </div>
      <div class="col-xs-10 col-sm-6 col-sm-offset-3 col-xs-offset-1">
        <div class="row">
          <h2>Usuários</h2>
        </div>
        <div class="row">
        <table class="table table-hover">
         <thead>
           <tr>
             <th></th>
           </tr>
         </thead>
         <tbody>
           {{#each listUsuarios}}
         <tr>
           <td>{{email}}<span class="deleteUsuario pull-right">&times;</span></td>
         </tr>
           {{/each}}
         </tbody>
        </table>
        </div>
      </br>
      </br>
      <div class="row">
        <h3>Adicionar Usuários</h3>
        </br>
        <small class="explain">Exemplo: secretárias, funcionários...</small>
      </div>
      <div class="row">
        <input type="text" id="nomeUsuario" class="requiredField email" placeholder="Nome usuário">
      </div>
      <div class="row">
        <input type="text" id="emailUsuario" class="requiredField email" placeholder="Email usuário">
      </div>
      <div class="row">
        <small class="explain">Escolha que tipo de acesso esse usuário terá.</small>
        <select id="nivelEscolha"  class="col-xs-12 formContainer">
            <option value='basico'>Somente inserir rendas</option>
            <option value='administrador'>Acesso total</option>
         </select>
      </div>
      <div class="row">
        <button id="submitUsuario" class="btn" type="submit">Criar</button>
      </div>
      </div>

        </br>
        </br>
        </br>
  </section>
</template>