<template name="inserir">
	<section id="services">

    <div class="modal-backdrop fade in">
      <h1>Essa é sua primeira vez aqui!</h1>
      <p>Olá {{displayName}}blabla bla bla bla bla </p>
    </div>

	<div class="row">
	  <div class="col-xs-12 col-sm-6 col-sm-offset-3 intro">
			<h1>Adicionar renda</h1>
      </br>
			<p>Olá {{displayName}}, adicione os respectivos dados da renda</p>
		</div>
	</div>
</br>
</br>
	<!--START ITEMS SECTIONS-->

	<div class="row">
		<form id="formInserir">
		<div class="col-xs-10 col-sm-6 col-sm-offset-3 col-xs-offset-1">
				<div class="row">
          <div class="col-xs-12 formContainer text-left">
            <h3>Tipo de renda</h3>
            <select id="nomeRenda"  class="col-xs-12 formContainer">
              <option value="">Escolher</option>
              {{#each listTipoRendas}}
                <option value="{{nomeRenda}}">{{nomeRenda}}</option>
              {{/each}}
            </select>
          </div>

					<div class="col-xs-12 formContainer text-left">
						<h3 class='inline'>Data</h3>
						<input type="text" id="data" placeholder="Data renda">
					</div>

          <div class="col-xs-12 formContainer text-left">
            <h3>Nome Paciente</h3>
            <select id="paciente" class="col-xs-10 formContainer">
            <option value="">Escolher paciente</option>
            {{#each listPacientes}}
              <option value="{{paciente}}">{{paciente}}</option>
            {{/each}}
            </select>
            <i data-toggle="modal" data-target="#myModal" class="fa fa-plus-circle fa-2x col-xs-2 formContainer topAlign" title ="Adicionar paciente"></i>
          </div>
					<div class="col-xs-12 formContainer text-left">
						<h3>Comentários</h3>
					   <textarea id="comentarios" placeholder="Comentários"></textarea>
					</div>

					</div>
				</div>
				</form>
		</div>

	<!--END ITEMS SECTION-->

	<!--START CONTACT-->
	<div class="col-xs-12 formContainer">
		</br>
		</br>
		</br>
	</div>
	</br>
	<div id= "contacts" class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 intro">
			<button id="submitRenda" class="btn">SALVAR</button>
		</div>
	</div>
</section>
<!-- END SERVICES SECTION -->
<!-- START MODAL  SECTION -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myModalLabel">Adicionar paciente</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <div class="row">
                    <div class="col-xs-12 formContainer">
                      <input type="text" id="newPaciente" value="" class="requiredField" placeholder="Paciente">
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="submitNewPaciente" class="btn btn-primary">Adicionar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
      <!-- END MODAL SECTION -->
</template>