<template name="inserir">
	<section id="services">

    <!-- <div class="modal-backdrop fade in">
      <h1>Essa é sua primeira vez aqui!</h1>
      <p>Olá {{displayName}}blabla bla bla bla bla </p>
    </div> -->

	<div class="row">
	  <div class="col-xs-12 col-sm-6 col-sm-offset-3 intro">
			<h1>Adicionar renda</h1>
      </br>
			<p>Olá {{displayName}}, adicione os respectivos dados da renda</p>
		</div>
	</div>
</br>
</br>
	<!--START ITEMS SECTIONS-->

	<div class="row">
		<form id="formInserir">
		<div class="col-xs-10 col-sm-6 col-sm-offset-3 col-xs-offset-1">
				<div class="row">
          <div class="col-xs-12 formContainer text-left">
            <h3>Tipo de renda</h3>
            <select id="nomeRenda"  class="col-xs-10 formContainer">
              <option value="">Escolher</option>
              {{#each listTipoRendas}}
                <option value="{{nomeRenda}}">{{nomeRenda}}</option>
              {{/each}}
            </select>
              <div class="col-xs-1"></div>
              <div class="col-xs-2">
              <button  data-toggle="modal" data-target="#rendaModal" class="btnMore formContainer">Alterar</button>
            </div>
          </div>

					<div class="col-xs-12 formContainer text-left">
						<h3 class='inline'>Data</h3>
						<input type="text" id="data" placeholder="Data renda">
					</div>

          <div class="col-xs-12 formContainer text-left">
            <h3>Nome Paciente</h3>
            <select id="paciente" class="col-xs-10 formContainer">
            <option value="">Escolher paciente</option>
            {{#each listPacientes}}
              <option value="{{paciente}}">{{paciente}}</option>
            {{/each}}
            </select>
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
            <button data-toggle="modal" data-target="#pacienteModal" class="btnMore formContainer">Alterar</button>
          </div>
        </div>
					<div class="col-xs-12 formContainer text-left">
						<h3>Comentários</h3>
					   <textarea id="comentarios" placeholder="Comentários"></textarea>
					</div>

					</div>
				</div>
				</form>
		</div>

	<!--END ITEMS SECTION-->

	<!--START CONTACT-->
	<div class="col-xs-12 formContainer">
		</br>
		</br>
		</br>
	</div>
	</br>
	<div id= "contacts" class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 intro">
			<button id="submitRenda" class="btn">SALVAR</button>
		</div>
	</div>
</section>
<!-- END SERVICES SECTION -->
<!-- START MODAL  SECTION -->
    <div class="modal fade" id="rendaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myModalLabel">Adicionar renda</h3>
          </div>
          <div class="modal-body">
            <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Valor</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each listTipoRendas}}
                      <tr>
                        <td>{{nomeRenda}}</td>
                        <td>{{valorRenda}}<span class="close deleteTipoRenda pull-right"  aria-hidden="true">&times;</span></td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </br>
            </br>
            <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="row">
              <small class="explain">Exemplo: Consulta unimed, particular, cirurgia...</small>
            </div>

            <div class="row">
              <input type="text" id="nomeTipoRenda" class="requiredField email" placeholder="Nome renda">
            </div>

            <div class="row">
              <input type="text" id="valorTipoRenda" class="requiredField email" placeholder="Valor renda">
            </div>
            </div>
            </div>
            <div class="row">
              <button data-dismiss="modal" id="submitTipoRenda" class="btnMore pull-right" type="submit">Adicionar</button>
              <button data-dismiss="modal" class="btnMoreCancel pull-right cancel" type="submit">Cancelar</button>
            </div>
            </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
      <!-- END MODAL SECTION -->
<!-- START MODAL  SECTION -->
    <div class="modal fade" id="pacienteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myModalLabel">Adicionar paciente</h3>
          </div>
          <div class="modal-body">
            <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Nome</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each listPacientes}}
                      <tr>
                        <td>{{paciente}}<span class="close deletePaciente pull-right" data-dismiss="modal"  aria-hidden="true">&times;</span></td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </br>
            </br>
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="row">
                  <input type="text" id="nomePaciente" class="requiredField email" placeholder="Nome paciente">
                </div>
              </div>
            </div>
            <div class="row">
              <button data-dismiss="modal" id="submitPaciente" class="btnMore pull-right" type="submit">Adicionar</button>
              <button data-dismiss="modal" class="btnMoreCancel pull-right cancel" type="submit">Cancelar</button>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
      <!-- END MODAL SECTION -->
</template>