<template name="relatorios">
  <section id="contacts">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 intro">
        <h1>Relatório Ambiental</h1>
        <p>Olá {{displayName}}, analise abaixo os relatórios das operações consolidadas.</p>
      </br>
      </br>
    </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 intro">
        <div class="row">
          <div class='col-xs-2'>
            <input class="calendar" id="relatorioPeriodo1" readonly='readonly' class="col-xs-6" placeholder="Período 1"/>
          </div>
          <div class='col-xs-1'>
          </div>
          <div class='col-xs-2'>
            <input class="calendar" id="relatorioPeriodo2" readonly='readonly' class="col-xs-6" placeholder="Período 2"/>
          </div>
          <div class='col-xs-6 pull-right'>
            <select id="filial"  class="col-xs-12 formContainer" alt="Nome filial">
              <option value="">Escolher renda</option>
              {{#each listTipoRendas}}
                <option value="{{nomeRenda}}">{{nomeRenda}}</option>
              {{/each}}
           </select>
          </div>
        </div>
    <div class="row">
      <h2>Gráfico em linha quantidade por renda</h2>
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div class="row">
      <h2>Gráfico pizza quantidade por renda</h2>
      <canvas id="myChart2" width="400" height="400"></canvas>
      </div>
      </div>
  </section>
</template>