<template name="rendas">
  <section id="contacts">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 intro">
        <h1>Rendas</h1>
          </br>
          <p>Olá {{displayName}}, abaixo estão as rendas adicionadas.</br>Filtre por período e tipo de renda.</p>
      </br>
    </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 intro">
        <div class="row">
          <div class='col-xs-2'>
            <input class="calendar" id="periodo1" readonly='readonly' class="col-xs-6" placeholder="Período 1"/>
          </div>
          <div class='col-xs-1'>
          </div>
          <div class='col-xs-2'>
            <input class="calendar" id="periodo2" readonly='readonly' class="col-xs-6" placeholder="Período 2"/>
          </div>
          <div class='col-xs-5 pull-right'>
            <select id="rendaChoose"  class="col-xs-12">
              <option value="">Escolher renda</option>
              {{#each listTipoRendas}}
                <option value="{{nomeRenda}}">{{nomeRenda}}</option>
              {{/each}}
           </select>
          </div>
      </div>
    </br>
    <div class="row">
      <label>Rendas Selecionadas:</label><p id="rendasSelected">{{listSelecteds}}<p>
    </div>

    <div class="row pull-right">
     <button class="btn search">Buscar</button>
    </div>
    <div class="row pull-left">
     <button class="btn deleteRenda">Limpar busca</button>
    </div>

    </br>
    {{#ifAny list}}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Data</th>
              <th>Adicionado por</th>
              <th>Paciente</th>
              <th>Tipo de renda</th>
              <th>Valor</th>
              <th>Comentários</th>
              <th>Deletar</th>
            </tr>
          </thead>
          <tbody>
            {{#each list}}
            <tr>
              <td>{{data}}</td>
              <td>{{criador}}</td>
              <td>{{paciente}}</td>
              <td>{{nomeRenda}}</td>
              <td>{{valorRenda}}</td>
              <td href="#" class="articlePop" data-toggle="popover" title="" data-container="body" data-html="true" data-trigger="hover" data-content="{{comentarios}}" role="button" data-original-title="<b>Data:</b> {{data}}">{{dot comentarios}}</td>
              <td><button id="modify" class='btn modify deletarRenda'>Deletar</button></td>
              {{/each}}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      {{else}}
    </br>
    </br>
      <div class="row intro">
        {{#if allOrders}}
        <div class="center">
          </br>
          </br>
          <p>Nada encontrado!</p>
        </div>
        {{else}}
        <h1 class="notfound">Você não tem rendas adicionadas</h1>
      </div>
      <div id="intro" class="col-xs-12 formContainer">
        <button class="btn goOrder">Adicionar</button>
      </div>
      {{/if}}
      {{/ifAny}}
      {{#if isMore}}
      <div id="intro" class="col-xs-12 formContainer">
        <button class="btn more">Mais</button>
      </div>
      {{/if}}
  </section>
  <!-- START MODAL  SECTION -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title" id="myModalLabel">Modificar laudo</h3>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="row">
                      <div class="col-xs-12 formContainer text-left">
                                  <h3 class='inline'>Nome empresa </h3>
                                  <input type="text" id="nomeEmpresa" class="requiredField email" placeholder="Nome empresa">
                                </div>
                                <div class="col-xs-12 formContainer text-left">
                                  <h3>CNPJ/CPF empresa</h3>
                                  <input type="text" id="idEmpresa" class="requiredField email" placeholder="CNPJ/CPF empresa">
                                </div>
                                <div class="col-xs-12 formContainer text-left">
                                  <h3>Nome do funcionário</h3>
                                  <input type="text" id="nomeFuncionario" class="requiredField email" placeholder="Nome do funcionário">
                                </div>
                                <div class="col-xs-12 formContainer text-left">
                                  <h3>RG funcionário</h3>
                                  <input type="text" id="idFuncionario" class="requiredField email" placeholder="RG funcionário">
                                </div>
                                <div class="col-xs-12 formContainer text-left">
                                  <h3>Data Exame</h3>
                                  <input type="text" id="data" class="requiredField email" placeholder="Data Exame">
                                </div>
                                <div class="col-xs-12 formContainer text-left topAlign">
                                  <h3>Exame realizado</h3>
                                  <select id="exame"  class="col-xs-10 formContainer" alt="Escolher exame">
                                    <option value="Home">Exame 1</option>
                                    <option value="Office">Exame 2</option>
                                    <option value="Marie's">Exame 3</option>
                                    <option value="Other">Exame 4</option>
                                  </select>
                                  <i data-toggle="modal" data-target="#myModal" class="fa fa-plus-circle fa-2x col-xs-1 formContainer topAlign" title ="Adicionar exame"></i>
                                </div>
                                <div class="col-xs-12 formContainer text-left">
                                  <h3>CNPJ/CPF do prestador</h3>
                                  <input type="text" id="idPrestador" class="requiredField email" placeholder="CNPJ/CPF do prestador">
                                </div>
                                <div class="col-xs-12 formContainer text-left">
                                  <h3>Nome do prestador</h3>
                                  <input type="text" id="nomePrestador" class="requiredField email" placeholder="Nome do prestador">
                                </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="submitAddAddressAtOrder" class="btn btn-primary">Modificar</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
        <!-- END MODAL SECTION -->
</template>