<template name="index">
		<!-- START CONTACTS SECTION -->
		<section id="contacts" class="topIntro">
				<div class="row">
				<div class="col-xs-12 col-md-2 col-sm-3 pull-right">
				  <button id="signUp" class="btn" style="background-color:#70ac5e;outline:0;">CADASTRE-SE</button>
				  </div>
				</div>
				<div class="col-xs-12 col-sm-12 intro">
					<h1 class="headline">Agraus</h1>
					<h2 class="headline"><i>Finanças para médicos. Reinventada.</i></h2>
				</br>
					<h2>Saiba tudo sobre sua renda</h2>
				</div>
			</div>
						<div class="col-xs-12">
							<div class="col-xs-12  col-sm-6">
								<img style="width:90%;vertical-align:middle;"src="/images/grow.png">
							</div>
							<div class="col-xs-12  col-sm-6">
								<div style="padding-top:50px;padding-bottom:100px;" class="row">
						{{#if signUp}}
						<div class="col-xs-10 formContainer">
							<input type="text" id="nameSignUp" class="requiredField email" placeholder="Nome">
						</div>
						<div class="col-xs-10 formContainer">
							<input type="text" id="emailSignUp" class="requiredField email" placeholder="Email">
						</div>
						<div class="col-xs-10 formContainer">
							<input type="password" id="passwordSignUp" class="requiredField" placeholder="Senha">
						</div>
						<div class="col-xs-10 formContainer">
							<button id="submitSignUp" class="btn" style="background-color:#70ac5e;outline:0;">ENTRAR</button>
						</div>
						{{else}}
						{{#if forgotIt}}
						<div class="col-xs-10 formContainer">
							<input type="text" id="emailForgot" class="requiredField email" placeholder="Email">
						</div>
							<div class="col-xs-10 formContainer">
								<button id="sendForgotten" class="btn">ENVIAR SENHA NO EMAIL</button>
							</div>
							<div class="col-xs-10 formContainer">
								<button id="cancelEmail" class="btn">CANCELAR</button>
							</div>
						{{else}}
						<div class="col-xs-10 formContainer">
							<input type="text" id="emailSignIn" class="requiredField email" placeholder="Email">
						</div>
						<div class="col-xs-10 formContainer">
							<input type="password" id="passwordSignIn" class="requiredField" placeholder="Senha">
						</div>
						<div class="col-xs-10 formContainer">
							<button id="submitSignIn" class="btn">ENTRAR</button>
						</div>
						<div class="col-xs-10 formContainer">
							<button id="submitForgot" class="btn" >ESQUECI MINHA SENHA</button>
						</div>
						<div class="col-xs-10 formContainer">
						</br>
						</div>
						{{/if}}
						{{/if}}
						</div>
						</div>
						</div>
		</br>
	</br>
		</section>
		<!-- END CONTACTS SECTION -->
	</template>